/* Ayu theme */
:root {
  /* Essential colors */
  --bg-color: #0f1419;
  --bg-color-secondary: #131b23;
  --bg-color-tertiary: #242d38;
  --main-color: #ff9940;
  --caret-color: #ff9940;
  --text-color: #e6e1cf;
  --sub-color: #3e4b59;
  --sub-alt-color: #1a2633;
  --error-color: #ff3333;
  --error-extra-color: #b32425;
  --success-color: #b8cc52;
  --warning-color: #ffb454;

  /* Colors with transparency */
  --main-color-10: #ff994019; /* 10% opacity */
  --main-color-20: #ff994033; /* 20% opacity */
  --success-color-10: #b8cc5219; /* 10% opacity */
  --error-color-10: #ff333319; /* 10% opacity */
}
