/* Candyland theme */
:root {
  /* Essential colors */
  --bg-color: #fcf0fe;
  --bg-color-secondary: #f8e2fc;
  --bg-color-tertiary: #f0d4f8;
  --main-color: #fd4db0;
  --caret-color: #fd4db0;
  --text-color: #5f2875;
  --sub-color: #b966d3;
  --sub-alt-color: #ebc7f5;
  --error-color: #ff5e5e;
  --error-extra-color: #cd4545;
  --success-color: #3fdc75;
  --warning-color: #ffb347;

  /* Colors with transparency */
  --main-color-10: #fd4db019; /* 10% opacity */
  --main-color-20: #fd4db033; /* 20% opacity */
  --success-color-10: #3fdc7519; /* 10% opacity */
  --error-color-10: #ff5e5e19; /* 10% opacity */
}
