/* Carbon Blue theme */
:root {
  /* Essential colors */
  --bg-color: #161616;
  --bg-color-secondary: #262626;
  --bg-color-tertiary: #333333;
  --main-color: #0f62fe;
  --caret-color: #0f62fe;
  --text-color: #f4f4f4;
  --sub-color: #6f6f6f;
  --sub-alt-color: #393939;
  --error-color: #fa4d56;
  --error-extra-color: #b8252c;
  --success-color: #42be65;
  --warning-color: #f1c21b;

  /* Colors with transparency */
  --main-color-10: #0f62fe19; /* 10% opacity */
  --main-color-20: #0f62fe33; /* 20% opacity */
  --success-color-10: #42be6519; /* 10% opacity */
  --error-color-10: #fa4d5619; /* 10% opacity */
}
