:root {
  /* Essential colors */
  --bg-color: #2a2834;
  --bg-color-secondary: #23212b;
  --bg-color-tertiary: #191c29;
  --main-color: #ff9a8b;
  --caret-color: #ff9a8b;
  --text-color: #e6e6e6;
  --sub-color: #918caa;
  --sub-alt-color: #424054;
  --error-color: #ff5555;
  --error-extra-color: #c03c3c;
  --success-color: #4caf50;
  --warning-color: #ff9800;

  /* Colors with transparency */
  --main-color-10: #ff9a8b19; /* 10% opacity */
  --main-color-20: #ff9a8b33; /* 20% opacity */
  --success-color-10: #4caf5019; /* 10% opacity */
  --error-color-10: #ff555519; /* 10% opacity */
}
