/* Dracula theme */
:root {
  /* Essential colors */
  --bg-color: #282a36;
  --bg-color-secondary: #343746;
  --bg-color-tertiary: #424450;
  --main-color: #bd93f9;
  --caret-color: #bd93f9;
  --text-color: #f8f8f2;
  --sub-color: #6272a4;
  --sub-alt-color: #44475a;
  --error-color: #ff5555;
  --error-extra-color: #aa3c3c;
  --success-color: #50fa7b;
  --warning-color: #ffb86c;

  /* Colors with transparency */
  --main-color-10: #bd93f919; /* 10% opacity */
  --main-color-20: #bd93f933; /* 20% opacity */
  --success-color-10: #50fa7b19; /* 10% opacity */
  --error-color-10: #ff555519; /* 10% opacity */
}
