:root {
  /* Essential colors */
  --bg-color: #f5f5f5;
  --bg-color-secondary: #e2e2e2;
  --bg-color-tertiary: #d9d9d9;
  --main-color: #4c9be8;
  --caret-color: #4c9be8;
  --text-color: #2c2c2c;
  --sub-color: #8e8e8e;
  --sub-alt-color: #dddddd;
  --error-color: #ca4754;
  --error-extra-color: #a53640;
  --success-color: #4caf50;
  --warning-color: #ff9800;

  /* Colors with transparency */
  --main-color-10: #4c9be819; /* 10% opacity */
  --main-color-20: #4c9be833; /* 20% opacity */
  --success-color-10: #4caf5019; /* 10% opacity */
  --error-color-10: #ca475419; /* 10% opacity */
}
