/* Mint Fresh theme */
:root {
  /* Essential colors */
  --bg-color: #f0fffa;
  --bg-color-secondary: #e0f5ee;
  --bg-color-tertiary: #c9ebe0;
  --main-color: #0db885;
  --caret-color: #0db885;
  --text-color: #263e39;
  --sub-color: #6ba99e;
  --sub-alt-color: #daf0e9;
  --error-color: #ff6d6d;
  --error-extra-color: #d14848;
  --success-color: #00bf8f;
  --warning-color: #f9bc60;

  /* Colors with transparency */
  --main-color-10: #0db88519; /* 10% opacity */
  --main-color-20: #0db88533; /* 20% opacity */
  --success-color-10: #00bf8f19; /* 10% opacity */
  --error-color-10: #ff6d6d19; /* 10% opacity */
}
