/* Monokai theme */
:root {
  /* Essential colors */
  --bg-color: #272822;
  --bg-color-secondary: #3e3d32;
  --bg-color-tertiary: #49483e;
  --main-color: #a6e22e;
  --caret-color: #a6e22e;
  --text-color: #f8f8f2;
  --sub-color: #75715e;
  --sub-alt-color: #3e3d32;
  --error-color: #f92672;
  --error-extra-color: #ac1f45;
  --success-color: #a6e22e;
  --warning-color: #fd971f;

  /* Colors with transparency */
  --main-color-10: #a6e22e19; /* 10% opacity */
  --main-color-20: #a6e22e33; /* 20% opacity */
  --success-color-10: #a6e22e19; /* 10% opacity */
  --error-color-10: #f9267219; /* 10% opacity */
}
