/* Retro Gamer theme */
:root {
  /* Essential colors */
  --bg-color: #081820;
  --bg-color-secondary: #0f3641;
  --bg-color-tertiary: #174652;
  --main-color: #8bac0f;
  --caret-color: #8bac0f;
  --text-color: #9bbc0f;
  --sub-color: #306850;
  --sub-alt-color: #0f380f;
  --error-color: #e76e55;
  --error-extra-color: #b24531;
  --success-color: #9bbc0f;
  --warning-color: #dca03c;
  
  /* Colors with transparency */
  --main-color-10: #8bac0f19; /* 10% opacity */
  --main-color-20: #8bac0f33; /* 20% opacity */
  --success-color-10: #9bbc0f19; /* 10% opacity */
  --error-color-10: #e76e5519; /* 10% opacity */
} 